.iconStyle, .primary, .secondary, .succes {
  border: 1px solid;
  border-radius: 20px; }

.primary {
  color: #b36a3a;
  font-size: 20px; }

.secondary {
  color: #4426f0;
  font-size: 20px; }

.succes {
  color: #197e2e;
  font-size: 20px; }

.header {
  height: 100px;
  width: 100%; }
  .header .title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    margin-top: 20px; }

.navbar {
  background: linear-gradient(270deg, rgba(250, 92, 0, 0), #cc5200, #85420c);
  background-size: 600% 600%;
  -webkit-animation: Navnimation 20s ease infinite;
  -moz-animation: Navnimation 20s ease infinite;
  animation: Navnimation 20s ease infinite;
  position: sticky;
  top: 0;
  z-index: 3; }
  .navbar .fa-bars {
    color: white; }
  .navbar .logo-img {
    height: 50px; }
  .navbar .navbar-nav {
    font-size: 30px;
    font-family: 'Amatic SC', cursive; }
  .navbar .nav-link {
    color: white;
    margin-right: 40px; }
  .navbar .nav-link:hover {
    border-radius: 10px;
    height: 90%;
    background: linear-gradient(270deg, #c24e00, rgba(250, 92, 0, 0), #85420c); }

@-webkit-keyframes Navnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Navnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Navnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.footer {
  background-color: black;
  color: white;
  margin-top: auto;
  width: 100%;
  text-align: center; }

body {
  background-image: url(../img/cavern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'comfortaa', sans-serif;
  min-height: 100vh; }

main .card {
  width: 16rem; }

main .imgtitle {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  text-align: start;
  text-decoration: underline;
  margin-top: 20px;
  color: white; }

main .titlequien {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 30px; }

.card-title {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 600;
  font-size: 20px; }
