.iconStyle, .primary, .secondary, .succes {
  border: 1px solid;
  border-radius: 20px; }

.primary {
  color: #b36a3a;
  font-size: 20px; }

.secondary {
  color: #4426f0;
  font-size: 20px; }

.succes {
  color: #197e2e;
  font-size: 20px; }

.header {
  height: 100px;
  width: 100%; }
  .header .title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    margin-top: 20px; }

.navbar {
  background: linear-gradient(180deg, #3a190a 0%, #e27c3c 43%, #411b0e 79%); }
  .navbar .fa-bars {
    color: white; }
  .navbar .logo-img {
    height: 50px; }
  .navbar .navbar-nav {
    font-size: 30px;
    font-family: 'Amatic SC', cursive; }
  .navbar .nav-link {
    color: white;
    margin-right: 40px; }

.footer {
  background-color: black;
  color: white;
  margin-top: auto;
  width: 100%;
  text-align: center; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'comfortaa', sans-serif;
  background-image: url(../img/cavern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

main .card {
  width: 16rem; }

main .imgtitle {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  text-align: start;
  text-decoration: underline;
  margin-top: 20px;
  color: white; }

main .titlequien {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 30px; }
