.iconStyle, .primary, .secondary, .succes {
  border: 1px solid;
  border-radius: 20px; }

.primary {
  color: #e6d2c4;
  font-size: 20px; }

.secondary {
  color: #4426f0;
  font-size: 20px; }

.succes {
  color: #05ff37;
  font-size: 20px; }

.header {
  height: 100px;
  width: 100%; }
  .header .title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    margin-top: 20px; }

.navbar {
  background: linear-gradient(270deg, rgba(255, 141, 75, 0.753), #cc5200, #85420c);
  background-size: 600% 600%;
  -webkit-animation: Navnimation 20s ease infinite;
  -moz-animation: Navnimation 20s ease infinite;
  animation: Navnimation 20s ease infinite;
  position: sticky;
  top: 0;
  z-index: 3; }
  .navbar .titlenav {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: white; }
  .navbar .fa-bars {
    color: white; }
  .navbar .logo-img {
    height: 50px; }
  .navbar .navbar-nav {
    font-size: 30px;
    font-family: 'Amatic SC', cursive; }
  .navbar .nav-link {
    color: white;
    margin-right: 40px; }
  .navbar .nav-link:hover {
    border-radius: 10px;
    height: 90%;
    background: linear-gradient(270deg, #c24e00, #fc9a62, #000000); }

@-webkit-keyframes Navnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Navnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Navnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.footer {
  background: linear-gradient(90deg, #3a190a 0%, #c46021 38%, #c05e20 59%, #c86222 71%, #411b0e 81%);
  color: white;
  margin-top: auto;
  width: 100%;
  text-align: center; }

body {
  background-image: url(../img/cavern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Amatic SC', cursive;
  min-height: 100vh; }

.container .card {
  width: 16rem; }

.container .imgtitle {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  text-align: start;
  text-decoration: underline;
  margin-top: 20px;
  color: white; }

.container .titlequien {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 30px; }

.container .card-title {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 600;
  font-size: 20px; }

.container .gridResponsive {
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  justify-content: center;
  display: grid;
  gap: 10px;
  grid-template-areas: "title title title title title" "libro1 libro2 libro3 libro9 libro5" "libro6 libro7 libro8 libro4 libro10" "libro11 libro12 libro13 libro14 libro10";
  grid-template-columns: 220px 200px 200px 200px 300px;
  grid-template-rows: 50px 250px 150px 160x; }
  .container .gridResponsive .title {
    grid-area: title;
    text-decoration: underline;
    color: white;
    font-family: 'Amatic SC', cursive;
    display: grid;
    justify-content: flex-start; }
    .container .gridResponsive .title .title-grid {
      font-size: 50px; }
  .container .gridResponsive .boton {
    display: flex;
    justify-content: center; }
  .container .gridResponsive .libro1 {
    grid-area: libro1; }
    .container .gridResponsive .libro1 .imglibro1 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro2 {
    grid-area: libro2; }
    .container .gridResponsive .libro2 .imglibro2 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro3 {
    grid-area: libro3; }
    .container .gridResponsive .libro3 .imglibro3 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro4 {
    grid-area: libro4; }
    .container .gridResponsive .libro4 .imglibro4 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro5 {
    grid-area: libro5; }
    .container .gridResponsive .libro5 .imglibro5 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro6 {
    grid-area: libro6; }
    .container .gridResponsive .libro6 .imglibro6 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro7 {
    grid-area: libro7; }
    .container .gridResponsive .libro7 .imglibro7 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro8 {
    grid-area: libro8; }
    .container .gridResponsive .libro8 .imglibro8 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro9 {
    grid-area: libro9; }
    .container .gridResponsive .libro9 .imglibro9 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro10 {
    grid-area: libro10; }
    .container .gridResponsive .libro10 .imglibro10 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro11 {
    grid-area: libro11; }
    .container .gridResponsive .libro11 .imglibro11 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro12 {
    grid-area: libro12; }
    .container .gridResponsive .libro12 .imglibro12 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro13 {
    grid-area: libro13; }
    .container .gridResponsive .libro13 .imglibro13 {
      height: 100%;
      width: 100%; }
  .container .gridResponsive .libro14 {
    grid-area: libro14; }
    .container .gridResponsive .libro14 .imglibro14 {
      height: 100%;
      width: 100%; }
  @media screen and (max-width: 992px) {
    .container .gridResponsive {
      grid-template-areas: "title title title title"  "libro12 libro13 libro14 libro10"  "libro1 libro2 libro3 libro10"  "libro1 libro2 libro3 libro8" "libro7 libro9 libro11 libro8" "libro4 libro5 libro6 libro8";
      grid-template-columns: 190px 190px 140px 190px;
      grid-template-rows: 50px 200px 150px 100px 200px 200px; } }
  @media screen and (max-width: 768px) {
    .container .gridResponsive {
      grid-template-areas: "title title title"  "libro4 libro5 libro6"  "libro7 libro8 libro9"  "libro1 libro2 libro3" "libro1 libro2 libro3" "libro10 libro11 libro12" "libro10 libro13 libro14";
      grid-template-columns: 210px 210px 190px;
      grid-template-rows: 50px 220px 220px 170px 50px 170px 170px;
      margin-left: 0 10px; }
      .container .gridResponsive .title {
        display: grid;
        justify-content: center; }
        .container .gridResponsive .title .title-grid {
          font-size: 30px;
          padding-top: 5px; } }
  @media screen and (max-width: 596px) {
    .container .gridResponsive {
      grid-template-areas: "title title title"  "libro1 libro2 libro3" "libro1 libro2 libro3" "libro10 libro10 libro10" "libro5 libro9 libro11" "libro7 libro14 libro6" "libro12 libro4 libro8" "libro12 libro4 libro13";
      grid-template-columns: 100px 100px 90px;
      grid-template-rows: 40px 130px 120px 300px 180px 150px 110px 110px; } }
