.header {
    background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(200,70,34,0.6204024754213483) 51%, rgba(0,0,0,1) 79%);
    .title{
        display: flex;
        justify-content: center;
        color: $colortitulos;
        text-align: left;
        font-family: 'Amatic SC', cursive;
        font-size: 4rem;
        margin-left: 10px;
        margin-top: 20px;
    }
    .nav{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        flex-wrap: wrap;
        .nav__links{
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 5px;
            font-size: 30px;
            font-family: 'Amatic SC', cursive;
            .imagen__nav{
                .nav__logo{
                 height: 45px;}} 
               .botones{text-decoration: none;
                        color: white;
                       margin-right: 20px;
                .nav__link:hover{background-color: white;
                                 color:rgba(200,70,34,1);
                                 border-radius: 10px;}}
        }
          
    }
    
}