.navbar{background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(210,137,45,0.6204024754213483) 51%, rgba(0,0,0,1) 79%);
       .fa-bars{color: white;}
        .logo-img{height: 50px;}
       .navbar-nav{
        font-size: 30px;
        font-family: 'Amatic SC', cursive;}
        .nav-link{
            color: white;
            margin-right: 40px;}
}