.navbar{
    background: linear-gradient(180deg, rgba(58,25,10,0.7692788799157303) 0%, rgba(200,98,34,1) 67%, rgba(65,27,14,0.8507395540730337) 100%);
    position: sticky;
    top: 0;
    z-index: 1;
       .fa-bars{color: white;}
        .logo-img{height: 50px;}
       .navbar-nav{
        font-size: 30px;
        font-family: 'Amatic SC', cursive;}
        .nav-link{
            color: white;
            margin-right: 40px;}
}

