@import "variables";
@import"header";
@import "navbar";
@import "footer";

body {
    background-image: url(../img/cavern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'comfortaa', sans-serif;
    min-height: $altobody;
}

.container{
    .card{
       width: 16rem;}
       .imgtitle{
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    text-align: start;
    text-decoration: underline;
    margin-top: 20px;
    color:$colortitulos;}
    .titlequien
{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 30px;
}
.card-title{font-family: 'Shadows Into Light', cursive;
font-weight: 600;
font-size: 20px;}

.gridResponsive {
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    justify-content: center;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "title title title title title"
    "libro1 libro2 libro3 libro9 libro5"
    "libro6 libro7 libro8 libro4 libro10 ";
    grid-template-columns: 200px 200px 150px 200px 150px;
    grid-template-rows:50px 250px 250px;
    .title{grid-area: title;
        text-decoration: underline;
        color: white;
        font-family:cursive;
        display: grid;
        justify-content: flex-start;}
    .libro1
    {grid-area: libro1;
            .imglibro1{
              height: 100%;
              width: 100%;}}
    .libro2{
        grid-area: libro2;
            .imglibro2{
                height: 100%;
                width: 100%;}}
    .libro3{
        grid-area: libro3;
            .imglibro3{
                height: 100%;
                width: 100%;}}
    .libro4{
        grid-area: libro4;
            .imglibro4{
                height: 100%;
                width: 100%;}}

    .libro5{
        grid-area: libro5;
            .imglibro5{
                height: 100%;
                width: 100%;}}

    .libro6{
        grid-area: libro6;
            .imglibro6{
                height: 100%;
                width: 100%;}}

    .libro7{
        grid-area: libro7;
            .imglibro7{
                height: 100%;
                width: 100%;}}

    .libro8{
        grid-area: libro8;
            .imglibro8{
                height: 100%;
                width: 100%;}}

    .libro9{
        grid-area: libro9;
            .imglibro9{
                height: 100%;
                width: 100%;}}

    .libro10{
        grid-area: libro10;
            .imglibro10{
                height: 100%;
                width: 100%;}}

    @media screen and (max-width: 992px) {
        grid-template-areas:"title title title title" 
        "libro4 libro5 libro6 libro7" 
        "libro1 libro2 libro3 libro7" 
        "libro1 libro9 libro10 libro8";
        grid-template-columns: 200px 200px 150px 200px;
        grid-template-rows: 50px 200px 200px 200px;
    }
    @media screen and (max-width: 768px) {
        grid-template-areas:"title title title" 
        "libro4 libro5 libro6" 
        "libro7 libro8 libro9" 
        "libro1 libro2 libro3"
        "libro1 libro2 libro10";
        grid-template-columns: 200px 200px 180px;
        grid-template-rows: 50px 200px 200px 150px 150px;
        margin-left: 10px;
    }
    @media screen and (max-width: 596px) {
        grid-template-areas:"title title title" 
        "libro1 libro2 libro3" 
        "libro1 libro2 libro3"
        "libro7 libro9 libro10"
        "libro4 libro5 libro6";
        .libro8{display: block;}

        grid-template-columns: 120px 120px 100px;
        grid-template-rows: 40px 130px 80px 120px 130px;
    }
}
}
